fastapi==0.115.12
pydantic-settings>=2.2.1
uvicorn[standard]==0.34.2
pydantic==2.11.1
prometheus-client==0.22.0
gunicorn==23.0.0
#uvicorn-worker==0.3.0 # Uncomment if using uvicorn-worker instead of unicorn
